{
    "root": true,
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "es6": true
    },
    "rules": {
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-bitwise": "warn",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-confusing-arrow": "error",
        "no-continue": "warn",
        "no-div-regex": "warn",
        "no-duplicate-imports": ["error", {
            "includeExports": true
        }],
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-extra-parens": ["warn", "all"],
        "no-floating-decimal": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "off",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-inline-comments": "off",
        "no-invalid-this": "off",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "error",
        "no-loop-func": "error",
        "no-magic-numbers": "off",
        "no-mixed-operators": "off",
        "no-mixed-requires": "off",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-multiple-empty-lines": ["error", {
            "max": 1
        }],
        "no-native-reassign": "error",
        "no-negated-condition": "warn",
        "no-negated-in-lhs": "error",
        "no-nested-ternary": "error",
        "no-new": "warn",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-require": "off",
        "no-new-wrappers": "error",
        "no-octal-escape": "error",
        "no-param-reassign": ["warn", {
            "props": true
        }],
        "no-path-concat": "off",
        "no-plusplus": "off",
        "no-process-env": "off",
        "no-process-exit": "off",
        "no-proto": "error",
        "no-prototype-builtins": "error",
        "no-redeclare": ["error", {
            "builtinGlobals": true
        }],
        "no-restricted-globals": "off",
        "no-restricted-imports": "off",
        "no-restricted-modules": "off",
        "no-restricted-syntax": ["error", "WithStatement"],
        "no-return-assign": ["error", "always"],
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow": "off",
        "no-shadow-restricted-names": "error",
        "no-whitespace-before-property": "error",
        "no-spaced-func": "off",
        "no-sync": "off",
        "no-tabs": "warn",
        "no-ternary": "off",
        "no-trailing-spaces": "error",
        "no-throw-literal": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-underscore-dangle": "error",
        "no-unmodified-loop-condition": "error",
        "no-unneeded-ternary": ["error", {
            "defaultAssignment": false
        }],
        "no-unsafe-negation": "warn",
        "no-unused-expressions": "error",
        "no-use-before-define": "error",
        "no-useless-call": "warn",
        "no-useless-computed-key": "error",
        "no-useless-concat": "error",
        "no-useless-constructor": "error",
        "no-useless-escape": "warn",
        "no-useless-rename": "error",
        "no-void": "error",
        "no-var": "warn",
        "no-warning-comments": ["warn", {
            "terms": ["@fixme", "@todo", "@bug", "fixme", "todo", "bug"]
        }],
        "no-with": "error",
        "array-bracket-spacing": ["error", "never"],
        "array-callback-return": "error",
        "arrow-body-style": ["error", "always"],
        "arrow-parens": ["error", "always"],
        "arrow-spacing": ["error", {
            "before": true,
            "after": true
        }],
        "accessor-pairs": ["error", {
            "setWithoutGet": true
        }],
        "block-scoped-var": "error",
        "block-spacing": ["error", "always"],
        "brace-style": ["error", "1tbs"],
        "callback-return": "off",
        "camelcase": ["error", {
            "properties": "always"
        }],
        "comma-dangle": ["warn", "never"],
        "comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "comma-style": ["error", "last"],
        "complexity": ["warn", 10],
        "computed-property-spacing": ["error", "never"],
        "consistent-return": "error",
        "consistent-this": ["error", "self"],
        "curly": "error",
        "default-case": "warn",
        "dot-location": ["error", "property"],
        "dot-notation": "error",
        "eol-last": ["error", "unix"],
        "eqeqeq": ["warn", "smart"],
        "func-call-spacing": ["warn", "never"],
        "func-names": "off",
        "func-style": ["warn", "expression"],
        "generator-star-spacing": ["error", "before"],
        "global-require": "off",
        "guard-for-in": "error",
        "handle-callback-err": "off",
        "id-blacklist": "off",
        "id-length": "off",
        "id-match": "off",
        "indent": ["warn", 4, {
            "SwitchCase": 1
        }],
        "init-declarations": ["warn", "always"],
        "jsx-quotes": "off",
        "key-spacing": ["error", {
            "beforeColon": false,
            "afterColon": true,
            "mode": "strict"
        }],
        "keyword-spacing": ["error", {
            "before": true,
            "after": true
        }],
        "linebreak-style": ["error", "unix"],
        "lines-around-comment": ["warn", {
            "beforeBlockComment": true,
            "afterBlockComment": false,
            "beforeLineComment": true,
            "afterLineComment": false,
            "allowBlockStart": true,
            "allowBlockEnd": false,
            "allowObjectStart": true,
            "allowObjectEnd": false,
            "allowArrayStart": true,
            "allowArrayEnd": false
        }],
        "max-depth": ["error", 4],
        "max-len": ["warn", {
            "code": 120,
            "ignoreComments": true
        }],
        "max-lines": "off",
        "max-nested-callbacks": ["warn", 3],
        "max-params": ["warn", 3],
        "max-statements": ["warn", 35],
        "max-statements-per-line": ["error", {
            "max": 1
        }],
        "multiline-ternary": "off",
        "new-cap": ["warn"],
        "new-parens": ["error"],
        "newline-after-var": ["warn", "always"],
        "newline-before-return": "warn",
        "newline-per-chained-call": ["warn", {
            "ignoreChainWithDepth": 2
        }],
        "object-curly-newline": ["warn", {
            "multiline": true
        }],
        "object-curly-spacing": ["warn", "always", {
            "objectsInObjects": false,
            "arraysInObjects": false
        }],
        "object-property-newline": "error",
        "object-shorthand": ["error", "consistent"],
        "one-var": ["warn", {
            "uninitialized": "always",
            "initialized": "never"
        }],
        "one-var-declaration-per-line": ["error", "initializations"],
        "operator-assignment": "off",
        "operator-linebreak": ["warn", "none", {
            "overrides": {
                "?": "before",
                ":": "before"
            }
        }],
        "padded-blocks": ["error", "never"],
        "prefer-arrow-callback": "off",
        "prefer-const": ["warn", {
            "destructuring": "all",
            "ignoreReadBeforeAssign": true
        }],
        "prefer-reflect": "off",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": "warn",
        "quote-props": ["warn", "consistent-as-needed"],
        "quotes": ["error", "single", {
            "avoidEscape": true
        }],
        "radix": ["error", "as-needed"],
        "require-jsdoc": "off",
        "rest-spread-spacing": ["error", "never"],
        "semi": ["error", "always"],
        "semi-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "sort-keys": "off",
        "sort-imports": "off",
        "sort-vars": "off",
        "space-before-blocks": "error",
        "space-before-function-paren": ["warn", {
            "anonymous": "always",
            "named": "never"
        }],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {
            "words": true,
            "nonwords": false
        }],
        "spaced-comment": ["warn", "always"],
        "strict": ["warn", "safe"],
        "template-curly-spacing": ["error", "never"],
        "unicode-bom": ["error", "never"],
        "valid-jsdoc": "warn",
        "vars-on-top": "warn",
        "wrap-iife": ["error", "inside"],
        "wrap-regex": "off",
        "no-template-curly-in-string": "warn",
        "yield-star-spacing": ["error", "before"],
        "yoda": "error"
    }
}
