@import '../mixins/_time-display';

.moovie-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .9em;
    transition: all 0.4s ease;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 3em;
}

.moovie-controls[hidden],
.moovie[data-playbackstate="stopped"] .moovie-controls {
    opacity: 0;
    visibility: hidden;
}

.moovie-controls > button,
.moovie-controls > .moovie-popup > button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    width: 3em;
}

.moovie-controls .play {
    background-image: url("img/play.png");
}

.moovie[data-playbackstate="playing"] .moovie-controls .play {
    background-image: url("img/pause.png");
}

.moovie-controls .stop {
    background-image: url("img/stop.png");
}

.moovie-controls .previous {
    background-image: url("img/previous.png");
}

.moovie-controls .next {
    background-image: url("img/next.png");
}

.moovie-controls .elapsed {
    @extend %time-display;
    padding: 0 1em 0 0.5em;
}

.moovie-controls .seekbar {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    min-width: 4em;
    position: relative;
}

.moovie-controls .seekbar .moovie-tooltip {
    bottom: 100%;
    width: 4em;
    text-align: center;
    margin-left: -2em;
    margin-top: 0;
    position: absolute;
}

.moovie-controls .seekbar .moovie-tooltip::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: rgba(196, 82, 5, 0.8) transparent transparent;
    top: 100%;
    border-width: 5px;
    margin-left: -1.5em;
}

.moovie-controls .seekbar-buffered {
    background-color: rgba(0, 255, 0,0.3);
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
    height: 3px;
    position: absolute;
    top: 14.7px;
    width: 0;
}

.moovie-controls .duration {
    @extend %time-display;
    padding: 0 0.5em 0 1em;
}

.moovie-controls .volume-control button {
    background-image: url("img/full.png");
}

.moovie-controls .volume-control[data-muted="true"] button {
    background-image: url("img/muted.png");
}

.moovie-controls .volume-control .popup-content {
    padding: 13px 0;
}

.moovie-controls .settings-control > button {
    background-image: url("img/settings.png");
}

.moovie-controls .settings-control .popup-content {
    padding-top: 4px;
}

.moovie-controls .settings-control .moovie-checkbox + .moovie-label {
    padding: 3px 8px;
    white-space: nowrap;
    width: 100%;
}

.moovie-controls .settings-control .moovie-checkbox + .moovie-label:hover {
    background-color: #994004;
}

.moovie-controls .more-control > button {
    background-image: url("img/more.png");
}

.moovie-controls .more-control .popup-content {
    padding: 10px 7px;
}

.moovie-controls .more-control .popup-content button {
    display: block;
    height: 13px;
    width: 13px;
}

.moovie-controls .more-control .about {
    background-image: url("img/about.png");
    margin-bottom: 10px;
}

.moovie-controls .more-control .info {
    background-image: url("img/info.png");
    margin-bottom: 10px;
}

.moovie-controls .more-control .playlist {
    background-image: url("img/playlist.png");
}

.moovie-controls .fullscreen {
    background-image: url("img/close.png");
}
