@import '../components/_time-display';

.moovie-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .9em;
    transition: all 0.4s ease;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 3em;
}

.moovie-controls[hidden],
.moovie[data-playbackstate="stopped"] .moovie-controls {
    opacity: 0;
    visibility: hidden;
}

.moovie-controls > button,
.moovie-controls > .moovie-popup > button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    width: 3em;
}

.moovie-controls .play {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNqEUbtOAzEQ3LXvkkuU0CBRUSA6voAv4APoU1NTIgpoUEA0dJEACYH4A0oQDVAgBF9AhURDQ4Eg3F3sXcZOggiPsLqV7fPM7syaVZXaV3MdVT5Q0VslJVImcUqCrXfhrOEjXyptLd6TIURS5VbWMJdsaBOXk/RPRJIIvSQpZ/WmXUmr5gbEVqg8luQdRTlBRbVmZmsNc2xTOsV5nvQPkjohBxKSXQ9OmChr2IWszhfG0g7IUz9IbtBpmL4XUtQmXKk17XKamTuUXgK0HmcQPQWgC0MaOhldK5mZRvPdbuFncFxN+p40pkZhAchxZQSegcp3/1wWuo2/+5+dfJQlcRCDDuARu0Io78qReF3HdB/IMI3IC74odOJQgAL4Gr7WjOUz5tHp9UkeTSADFSFFn8pc2gB28NjuO+ELSSeKrmj+KnvYb9iUH38Dj5DyN38CzCEbPh8HHsaHAAMAjQHRfeZB1igAAAAASUVORK5CYII=');
}

.moovie[data-playbackstate="playing"] .moovie-controls .play {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAStJREFUeNp0Us1NxTAM/py04sEBcUIcEFckRmAHTuzAApyYALEDs3BBYgOexBBckGj12tjGSdzSPkElN+6X7yeOSqqKx7er5xBxroAoo1fBHRFOKOCJIiKAVhI+Hq6399ajya8YcXN43JyaCEPHw66TI+vPNpt42x5QpqD/kktbfkXCGCUpvC9lSSKsUK4iER3hTxEl22QTGRGZmAvWczYwPNuxm84iTU70zdkgCTiGmrQvYk9ai8hW+46O875oRCFUUS0iLe4c60w8TzSJirv4ppGtYKdKhoeYcSr4SlQcPUmm4wUskvSPmdJipun2pKaGf2did6KFQah4XFzQ+soZjdaRkFdPIsOxwJuVaOjlJY1ykQ2N2Nnv2Fn/ufuWV9vLnNaS3ifRjwADAMXv8wZET+RFAAAAAElFTkSuQmCC');
}

.moovie-controls .stop {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNqUkb0NwkAMRr8cjggFgzBFSmZiAfZCSFkHClCK8w82oce2ZMlXPL377OF6P13aiBmA4n81ZdwIzebDcTwjWe8ng1SwKluWgaqtJGJQb2S4ARAXUFikYgpIipAwwrQNeUjd1O07lEzxNS2Ytky+OS5l+m3PCiuP88RxJ+9Kpom42/J69H28E8zOoeUjwAAogWktmShFOAAAAABJRU5ErkJggg==');
}

.moovie-controls .previous {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZRJREFUeNpsUj1LY1EQnZn7jIkRQSy2shXsLLQSFlawE2tLy212LWwULGxELAQLe8HOf7Cdje22NhaKjY0GTIJJ3r0z48y7fiTihfsGhjnnzDn3oarCwdX8GiKuguqdKp4ggpYDASKoDhECEmxandldvj6m3IT1yenwN9RoOyWhVAqoaAUwzlkKcD4xFc6AYMF7hX+EoadsA6wdTVbzsNff9Sbt1xr0wzaxOe19gDipN4BZhaMwBVwaq+NRvRl+FQU6mXOgpLxuVjJQcmDSAhAOa03aqtWp4VIxvmk6OSuOKHFUCAXNTUzRjnkALjVPvh+sSGEIlIHgsdmRCN8eHgWJXTImi8zSDcHB8EUJqm2qtN+VzCz0unLTeeSDfldeRBQtHOQcULaQhkBSNTx6TXEgey9t/tl5Spdl31MF5Ogq1dMMKX2ykd1gpv+XA13ptNKf3jO3hAX9sUeVGMZ9X6tNV4ym4I9prk77XV7stvgi9sUtNIYjv2g/pgfzfo9kVsTYNJu3f+7WCDdM9Z8Rzfj8qwADABu1GGRTVKgTAAAAAElFTkSuQmCC');
}

.moovie-controls .next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpkUrFuFDEQnfGa29u7cBIVFSgtHQ1dhMQP5A/SU0WRkuIkhEKBRB0JiZITHT1doiCQqCgo06TIB+Sau5Dd2/XM5Nm3bJbE0sj2zHt+nmezmdGHX8/2VWluSjNVIzImRd7njjCYyfaYeRPY4zdbZ9/WWUfPi0n22WX0BdgnxOApkTQaI/MDd7DxKNsFezviE0mFSodVMfE7w7H7Da3XFgUFEchMbJnWwHUkEWMNhqTZIOfHo4fu04OcTk3tRWhUUFcVi7gIJ5+UQAhhncB56Ih5OM5e1Zn+qJZyhLqPdQ09koRITPiOmIqei9HET+NOGku4HslS3BtCBtFoi4HAErR3vaYl3eEBziKa8s5zp5SMCK2StM3irThGeaXXi8vwHvO5ye1tWsuRaNrehLiujJbz8L1cyMtQ21vUw7pv+78n2Bvb57rUOeIdLPzofTLAo+6kp5RIeLSiqZSqv/oVp03Z84VDQ81K/6mPonuY847U1PqnrvTEOZ7hK8VflEwX/ALOSFalHEL9KdI/I/5GgAEASz8mmrb78LEAAAAASUVORK5CYII=');
}

.moovie-controls .elapsed {
    @extend %time-display;
    padding: 0 1em 0 0.5em;
}

.moovie-controls .seekbar {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    min-width: 4em;
    position: relative;
}

.moovie-controls .seekbar .moovie-tooltip {
    bottom: 100%;
    width: 4em;
    text-align: center;
    margin-left: -2em;
    margin-top: 0;
    position: absolute;
}

.moovie-controls .seekbar .moovie-tooltip::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: rgba(196, 82, 5, 0.8) transparent transparent;
    top: 100%;
    border-width: 5px;
    margin-left: -1.5em;
}

.moovie-controls .seekbar-buffered {
    background-color: rgba(0, 255, 0,0.3);
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
    height: 3px;
    position: absolute;
    top: 14.7px;
    width: 0;
}

.moovie-controls .duration {
    @extend %time-display;
    padding: 0 0.5em 0 1em;
}

.moovie-controls .volume-control button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbZJREFUeNpsUj1rVUEQndndd+/LRxGDFsZCRBERBLHQdMFaSCNo7z+wFMEfkP+QPxC00UJiYxkEEQRB7WxEEUQ0eXn3Y2eOZ+97QsC3cGDZueecOTNXn7y6LCGIqIq4iUBEUgoSom7GJA8BeWAZEw26xtItfrefZMEBcLNaDs81SN0e+ZhiEwXWR7U+pcDtsICzVa/EF9U4nPGMX2b0VtmFY521r3C5W5xuEBtER5wfr8SdqtY17yGWhUCfRnrNHZt9h/eMcj2lpHts5SIVhlwhqfQkzDJC+d7S8SOgV3OHDynJ/eQuUaDzLFTuMNwLyQY3ZLb2nQ+XYHhD2VOJj27ZB8LJM5AyhC6gbJGqPPuUwxkVUvA8c8E/uxOkUmdrYxYaTnE1Z+kS+7Q2zhfEL2PU2ZXwQuqlDOsc11AmdyFk/Ex9Y/f6Rsv0eva+MVqKO/VyOF3czATMVfN6xc1fc+F3csaXovJujuEc/7ZPdHhWr4azg5N7slb32fZBFfVxbrH733IZ9GB6aNvTP/5jWKizXZdHzD3lnpbovLfojyjR3jZHtt1M/CWX2hDC+X5j/i24fv4rwAAmPg953eMwSQAAAABJRU5ErkJggg==');
}

.moovie-controls .volume-control[data-muted="true"] button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfVJREFUeNosUj1rVEEUPXdm3iZrVkFMo50I/gLBwkUILBvBKgRBEEFCTCkiErERRMFSxUYljWAn1kKIa0QUW8HWTiIBbbJmk7w3917P7Pp4H/Nmzrn3nDMj99+fhrsgRCAE6YckyxAch6PFb83vL8u+ZubrpuCUI2FyRQnyVAK6pv6CKwMR2Sb4CNcuhIAHApmH+ir/dUxilyduOKXq50jcNSuzXu6LfH9Rx/dqOnx2c3fF7WAqPXecZ4dLOfturh25NpC41GqH14Qtkvi42dcFFu6aSS+RvZJrPBPBX5L7lFa8nJlqh3uUDG1wiC3vhIRNzz5L3EqiwROUtcEqaXomvqWMjmAcCgkOKvhK4KbWKN0/0Mq1lBtUxPzWjMjJkbh3zAtgTChPLPbGl+CPmlSJCTX0N8s4f9JLrBnVJBx2yiTzoS+4MWzBsRC8SZp9i9V6lLc22tG7e0M9SS/Ddic8jNwIhjMJMjPSgDmJshVyYy9Z+Dp9zTHOqzT+ydUf7e3o0v7IwPFUSTMrOsTdaIhPjJwh+HysZKAHvkgr70oAqQqvmgOWcPxQw0yM/oZyP/L0bMSzC0dZDQPKPAyRyyyQCBxSrnK8TWVd+nvO8TeY3KR0T/9TUc+4RTF9nohlRnyFLlpc4Vbz7DW+ym1YlzgJ8Z8AAwDlsjdCJfgL/AAAAABJRU5ErkJggg==');
}

.moovie-controls .volume-control .popup-content {
    padding: 13px 0;
}

.moovie-controls .settings-control > button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgFJREFUeNpMUsFqFEEQre6umdlsNsaj4FEETyKCFyUKEhMCIoJBDAb0oBfBL1AQRCT+QAgonjSgIhIhgoqCgniKoN/hbtbd7GRmurvK18QFCwp6pl7Ve6+6zYMvRyiFRCVjDRmHNLSY5eZh8Hpbhd6HIERKe2mILI3D0JyKzoRa0vliMWkPA7UYvCTcJSDOjqEsaQqZhYlp906VQj2SF5yZeZzJsV1Afb3VcUtQUpU78RQG/OAQIcdSJpGEc8PtaXcVkqjZFULzQc7cUqJST0xCRVJofRUpVPK2HITXMSjVpYRB168Ne/7yoBueNZAbvVI5DM+bSr4jieH9OpjOQcrp0KD4JzxS0ruODaHhVYSnyf287Jydjy5uQNFTdpldbU25ieTBN0K+kg+ESREDkqwQadM3uuxyOtAu+MLuIJ7gqpT7oDyftexReJgSoTNo/Jp8WUeUFXYunasd6ftatjTqBmMrK02pK6Ddcvvc8bxl78QoTkR/Wmtm8X0NwNT0C02zuD9iX2m6zBuc22MBi7DOFO2Ouyf/mOCX0n8wzkDBrabSVRsxZS8FmxQadv0byN1OfrDJ3vB3+BxqXKBXA/Z+ejlsrabn8WS0HZlUe1jIS1H51inMyWoUP2IhV0IjNyFn5FjXDdh5/DQAXkuGUwC0WfbpkAT9lECoPab/4q8AAwAldTx5c+HUpgAAAABJRU5ErkJggg==');
}

.moovie-controls .settings-control .popup-content {
    padding-top: 4px;
}

.moovie-controls .settings-control .moovie-checkbox + .moovie-label {
    padding: 3px 8px;
    white-space: nowrap;
    width: 100%;
}

.moovie-controls .settings-control .moovie-checkbox + .moovie-label:hover {
    background-color: #994004;
}

.moovie-controls .more-control > button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAb9JREFUeNpkkj1rFkEQx2f29i7PS5IHO01jIfgRBAsbO0HQD2AKKxFJERRfkCASfEkE8S1YaZdPYGEpFmqhnVZ2ihghqKi55+72dmb8b+JLTgeG29mZ3+3sf5bNjBYe7yWXMbGDM1HeczeJiEOj82REKkYGXzz0lpJ52mbpB5nn84NpP59i+RLWY2tX6R9zf4AUODo5HPlrjCj5cNpfwd6pzeR/EDZRdGww8iuqRmhLk6f1YMrfY7bZ7eAWxHSkP+UfqhJ/W4+3Q21r8E9pDY6Qe4Caox3I524Fn3zjc7scGz2t0TKL5mPQM9i7nnK/av4K0VR6rq50RoLeYMgngNL5Ekk06oUY41eI+rEDtY2uqmzdC93sBFQictLqHNLvLeiyL7h7J7Q04wt6zp7ncPkXmMsAc+ljAq+zjC95T49isFEHcp4v571sfxjrXWntWVPqy7qUVxLsSah0Me+7w1DwbKc9qNZLkk703FI1lh3VhiykGDM6PjHMLnJqXGhXB4q1LpUmB/qTbvdk4e4InswmhKflIMn4u6zVpd7qQLA34x+yr6nkRFG4g2h3T5q3ib5rgz6Vlu7j1A+/oZ8CDAC83+4ScKUaXAAAAABJRU5ErkJggg==');
}

.moovie-controls .more-control .popup-content {
    padding: 10px 7px;
}

.moovie-controls .more-control .popup-content button {
    display: block;
    height: 13px;
    width: 13px;
}

.moovie-controls .more-control .about {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAY1JREFUeNp0Ur0vBFEQn5m36zjkVBKhkKhUJDpCo9WRaCWCaCR0EhGNSiL+BaW/QEmjkaiEigSN5BJf5+zevt03Y96t83VM8rIvb+Y3v48sigj42j4ZHDaGFoMQhhCxHxACbd2nCR87K3smwJv1scv6bAAfFQS40dZJ0zoM4Pfk3+6wYIaSiKf0TOrL7Q+QMBSTN7a2Jgfs5AIJegpFmgsLVAoLOGBjmNexzR+gJHI77HDFhHDFrA8ZgMuc6+jCNd8ngr5PVZ9MAEeokliHs1TAe1WWXsdSb6aJPDaB1Dyklr3MOogMbrWUaBacqojdk8rebwIlVVY5OSWFuFssmVUggbjKtajilpT1vAlka5wzEiy3Fc2qDy+ucBRX3IzGfeilN4oaF01MmURlwrRnszFD7dXt6f3Q92zkoIkp91U3vPJSzgYUl2lip0QIPk1m+AP0QS9ORpBwAkWyzEIZUB7gV32BfLJ6TEgLre007jdHz9ktOzgD/AfEnP+DKu9a2UZ1Qaoe7xoLv9e7AAMAC03GpRJqnNEAAAAASUVORK5CYII=');
    margin-bottom: 10px;
}

.moovie-controls .more-control .info {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATpJREFUeNp8kr1KBDEQx2cmu3cnNipoo09gaSV4xeEL2FnY2VioaCeCloJa6yvY2J2NljaCT2CjWF1h5/nB7W6ymfhf/GBZMAMhMyG/+fgnHEKgXzu+m//zWWgvbcuOs9rfX3zYoppJPdBSv5fThdaYnLbHZdYYXqWGJfXAFoEkZWLmoSv00bswYXM9jEJFppSUTGLouSx4k5mmJJXLKPRjS0nKB2nH9DCvyT81x9nVv5AYPkk7vAugI5jWo6r3wTazSiMeZO+6YTN9xeWq3YG6cB+FcPFcPWVwJyEC2ZG/VR+GUciO8GZMa4TNQUko2MeiqBDIOiPC3ao1m4UXgNeVH58pUA8yT2sJKPdPQWkdSY6ilfB1lvGwpOgoaXEX8JwvaTsKeac32QetwB3iz11oSWcm4bcm9CXAAKx1nos9p53zAAAAAElFTkSuQmCC');
    margin-bottom: 10px;
}

.moovie-controls .more-control .playlist {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVFJREFUeNp0UjtOA0EMtT27KCEbiQsghESVE1ByB1q4Ah0lNZegjUSbO6B0qRCfgmNk2c+MbTy72d1sIkYa2R77+T1bg6oKz+vFq0vwEgAEjo/zlS5B9U1EN08335A0rylcTzJ3YQlQi9Fub82pi7AhBw8qcG9Pa4ogCVBq0GjBrO5b4QiHLNS6VNFFDBomtoRRN12tHFtVnQWYZHSnDNuykE8LXxqQPSTFVvIql5Vp4p2y7sRW0+mcbs3OB6agaGxV9ctfVm6iEIepIEqYJSkGk6r7II15YfCIygNB61g2cJyZW8kdCIggNdCVcRyuPYKmBqBY14NsSySodfDyjo28fhktSCBjj2xNaSTPih17PUfSw5nEVj0TJuQAMJLnXCdlN/ywQHNQjUVHM4mAm5zSmTuhRzj6E20PMvK6lLQH+ZI/cpbin7/XHQpef6LzJ8AAq03bm3U5YTUAAAAASUVORK5CYII=');
}

.moovie-controls .fullscreen {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAetJREFUeNpMUstqFUEQrarumTszRDeJ4AvBpQtRQcHrRtx6Q3DrD7gKZqN+gTsRVOJvCL73QXRxswn3E/QKRkhuyMx9TXeVp0cXFjQ9U3XqcU41P/1y6YwIPcOpYqCHpvZDo5FGIhYi55lE+JR4eqlGRpGeeCF7Xp309wk2O9aLIdg6Psf0z0xplTN6W6y4PjNRMwleVCkzVE6nqPiqeP4I31niLmFNHH8oKumnuIZuglK0ta16EncxWjdSr5QrHkAAbmG0N0i4Cb+lOHAj+Dc9Cf9s53o3tPapOuGupxGyUq6Z0E7eExfVYMSz47gHrgOf81gSWXH0Oy51vZ6Er0i2JESWsUt3WBo1h2EYljpwnsYJ76eTJJOBMv+KC33AzMO85JI6F9FyZnEx1U1wG8dWO3GkQdK8UQR1DbK/dkJFbBNponTj37Pw9mKm5+e1UmrSjYeqq6j0Li/kNpTjBJ7VUSNGwz+h8w3n+D1w5zo6IHmaoVZeSj+pB07YRdybHrV3oNa3EP52happHZ+BvyDM9qIHWfESIGtKCKNEGoAd3Pcgwm7yK+J5JZeh7ragekhLwx64OYojqDhAoHsR4LIfFjZAxyEw3OEggdeoj+oDMwBW0G0LC/1O/xk47OtSN+pDfQVBk9SP/wgwABs1O0L2shFSAAAAAElFTkSuQmCC');
}
