.moovie .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 500ms ease 0s;
}

.moovie[data-playbackstate="playing"] .overlay {
    display: none;
}

/* informational overlays do not dim when mouse leaves player */
.moovie[data-playbackstate="loading"] .overlay,
.moovie[data-playbackstate="seeking"] .overlay,
.moovie[data-playbackstate="waiting"] .overlay {
    opacity: 1;
}

/* interactive overlays dim when the mouse leaves the player */
.moovie[data-playbackstate="stopped"]:hover .overlay,
.moovie[data-playbackstate="ended"]:hover .overlay,
.moovie[data-playbackstate="paused"]:hover .overlay {
    opacity: 1;
}

.moovie .overlay::after {
    background: #A5D260 none repeat scroll 0px 0px;
    border: 4px solid #FFF;
    border-radius: 10px;
    color: #000;
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    top: 50%;
    width: 200px;
    font: 2.8em/70px "Times New Roman", serif;
}

.moovie[data-playbackstate="loading"] .overlay::after {
    content: "Loading...";
}

.moovie[data-playbackstate="stopped"] .overlay::after {
    content: "Play video";
}

.moovie[data-playbackstate="paused"] .overlay::after {
    content: "Paused";
}

.moovie[data-playbackstate="ended"] .overlay::after {
    content: "Replay";
}

.moovie[data-playbackstate="seeking"] .overlay::after {
    content: "Seeking...";
}

.moovie[data-playbackstate="waiting"] .overlay::after {
    content: "Waiting...";
}
