.moovie .panels {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    bottom: 37px;
    font-size: 0.8em;
    left: 5px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: all 250ms ease 0s;
}

.moovie .panels[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
}

.moovie .panels .active {
    display: table;
}

.moovie .panels > div {
    display: none;
    height: 100%;
    width: 100%;
}

.moovie .panels .heading {
    border-bottom: 1px dotted #888888;
    color: #b9dc84;
    font: 2.2em GaramondItalic, 'Palatino Linotype', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    margin: 0 0 6px 0;
    padding: 0 0 0.3em 0;
}

.moovie .panels .heading + dl,
.moovie .panels .heading + ol,
.moovie .panels .heading + ul {
    margin-top: 0;
}

.moovie .panels li {
    margin: 0;
}

.moovie .panels .about {
    background: url('http://colinaarts.com/assets/code/moovie/moovie.png') no-repeat bottom right;
}

.moovie .panels .playlist > div {
    display: table-row;
}

.moovie .panels .playlist > div + div {
    height: 100%;
}

.moovie .panels .playlist ol {
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.moovie .panels .playlist ol li {
    border-radius: 4px;
    padding: 0 5px;
    white-space: nowrap;
}

.moovie .panels .playlist ol li:hover {
    background-color: #994004;
}

.moovie .panels .playlist ol .active {
    background-color: rgba(255, 255, 255, 0.2);
}

.moovie .panels .playlist ol .label:hover {
    cursor: pointer;
    text-decoration: underline;
}
