.playlist-panel > .header {
    display: none;
}

// carousel
.playlist-panel > ol {
    display: flex;
    flex: 1 1 auto;
	margin: 0;
    overflow: hidden;
	padding: 0;
}

// carousel item
.playlist-panel > ol li {
    align-items: center;
    bottom: 0;
    display: flex;
    flex: 1 0 100%;
    left: 0;
    margin: 0;
    margin-right: 0;
    padding: 0;
    right: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 1000ms;
}

// video poster
.playlist-panel > ol li img {
    height: 100%;
    margin-right: 1em;
    object-fit: contain;
}

.playlist-panel > ol li .content {
    flex: 0 1 auto;
}

// video title
.playlist-panel > ol li h3 {
    margin: 0;
    font-family: GaramondItalic, 'Palatino Linotype', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    text-shadow: 1px 1px 3px #cbcbcb;
    color: #83b834;
    font-size: 2.5em;
}

// video summary
.playlist-panel > ol li p {
    white-space: pre-wrap;
}

.playlist-panel > ol li p::before {
    content: 'Summary: ';
    font-weight: 600;
}

// "Play Video" button
.playlist-panel > ol li button {
    background-color: rgb(196, 82, 5);
    border-radius: 4px;
    margin-right: 1em;
    padding: 0.5em;

    &:hover {
        background-color: #b04903;
    }
}

// "Add to Queue" checkbox
.playlist-panel .moovie-checkbox + .moovie-label {
    color: #c45205;
    font-size: 1.1em;
    top: 5px;
    vertical-align: baseline;

    &:hover {
        text-decoration: underline;
    }
}

// show previous/next pane buttons
.playlist-panel > .previous,
.playlist-panel > .next {
    background: none;
    font-size: 4em;
    height: 1em;
    position: absolute;
    text-shadow: 0 1px 0 #fff;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;

    &:hover {
        text-shadow: 0 1px 15px #fff;
    }
}

.playlist-panel > .previous {
    left: 0;
}

.playlist-panel > .next {
    right: 0;
}
