.moovie-playlist {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.25);
    bottom: 4.5em;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    left: 2em;
    overflow: hidden;
    padding: 2em;
    position: absolute;
    right: 2em;
    top: 2em;
    white-space: nowrap;

    &[hidden] {
        display: none;
    }
}

// panel close button
.moovie-playlist > .close {
    appearance: none;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    height: 2em;
    line-height: 2;
    padding: 0;
    position: absolute;
    right: 1.4em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    top: 1.4em;
    width: 2em;
    z-index: 98;

    &:hover {
        text-shadow: 0 1px 15px #fff;
    }
}

// panel name
.moovie-playlist > h1 {
    border-bottom: 1px dotted rgb(136, 136, 136);
    display: none;
    flex: 0 1 auto;
    margin: 0;
}

// playlist carousel
.moovie-playlist > ol {
    display: flex;
    flex: 1 1 auto;
	margin: 0;
    overflow: hidden;
	padding: 0;
}

// playlist carousel item
.moovie-playlist > ol li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 1 0 100%;
    height: 100%;
    left: 0;
    margin: 0;
    margin-right: 0;
    padding: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 1000ms;
    width: 100%;
}

// video poster
.moovie-playlist > ol li img {
    height: 100%;
    margin-right: 1em;
}

.moovie-playlist > ol li .content {
    flex: 1;
}

// video title
.moovie-playlist > ol li h2 {
    margin: 0;
}

// video summary
.moovie-playlist > ol li p {
    white-space: pre-wrap;
}

.moovie-playlist > ol li p::before {
    content: 'Summary: ';
    font-weight: 600;
}

// "Play Video" button
.moovie-playlist > ol li button {
    appearance: none;
    background-color: rgb(196, 82, 5);
    border: medium none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    margin-right: 1em;
    padding: 0.5em;

    &:hover {
        background-color: #b04903;
    }
}

// "Add to Queue" checkbox
.moovie-playlist .moovie-checkbox + .moovie-label {
    color: #c45205;
    font-size: 1.1em;
    top: 5px;
    vertical-align: baseline;

    &:hover {
        text-decoration: underline;
    }
}

// show previous/next pane buttons
.moovie-playlist > .previous,
.moovie-playlist > .next {
    appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 4em;
    height: 1em;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;

    &:hover {
        text-shadow: 0 1px 15px #fff;
    }

    &[disabled] {
        display: none;
    }
}

.moovie-playlist > .previous {
    left: 0;
}

.moovie-playlist > .next {
    right: 0;
}
