{
    "env": {
        "jasmine": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "impliedStrict": true
    },
    "globals": {
        "$": false,
        "$$": false,
        "Element": false,
        "instanceOf": false,
        "typeOf": false,
        "context": false
    }
}
