{
    "plugins": ["mootools"],
    "env": {
        "browser": true,
        "mocha": true,
        "mootools/core": true
    },
    "globals": {
        "expect": false
    },
    "rules": {
        "max-nested-callbacks": ["error", 4]
    }
}
