h1 {
    margin: 1.4em 0 0;
    font-family: GaramondItalic, 'Palatino Linotype', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    text-shadow: 1px 1px 3px #cbcbcb;
    color: #83b834;
    font-size: 3.5em;
}

h1:first-child {
    margin-top: 0;
}

h2 {
    margin: 1.4em 0 0;
    font-family: GaramondItalic, 'Palatino Linotype', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    text-shadow: 1px 1px 3px #cbcbcb;
    color: #83b834;
    font-size: 2.5em;
}

h3 {
    margin: 1.4em 0 0;
    font-weight: bold;
    color: #666666;
    font-size: 1.4em;
}

h4 {
    margin: 1.4em 0 0;
    font-weight: bold;
    color: #666666;
    font-size: 1.2em;
}

h5 {
    margin: 1.4em 0 0;
    font-weight: bold;
    color: #666666;
    font-size: 1.1em;
}

h6 {
    margin: 1.4em 0 0;
    font-weight: bold;
    color: #666666;
    font-size: 1.0em;
}

p {
    margin: 1.3em 0;
}

ul,
ol,
dl {
    margin: 1.5em 0;
}

ul,
ol {
    padding: 0 0 0 3em;
}

ul {
    list-style: square;
}

li dl {
    margin: 0 0 0 1.5em;
}

dt {
    font-weight: bold;
    font-style: normal;
}

dd {
    margin: 0 0 0 1.5em;
}

dd + dt {
    margin-top: 0.8em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    font-style: normal;
}

th {
    font-weight: bold;
    text-align: left;
}

a {
    color: #444444;
    text-decoration: none;
    display: inline-block;
    text-indent: 0;
    border-bottom: 1px solid #888888;
    display: inline;
}

a:visited {
    color: #888888;
    border-color: #cbcbcb;
}

a:hover {
    text-decoration: none;
    border: 0;
}

a img {
    border: 0;
}

input,
select {
    font: 1em 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    color: inherit;
}

table {
    border-collapse: collapse;
}

td,
th {
    vertical-align: top;
    padding: 3px 6px;
}

ul {
    padding-left: 1.5em;
    list-style: none;
}

li {
    margin: 0.5em 0;
}

ul li {
    padding: 0 0 0 22px;
}
