.moovie button,
.moovie [role="button"] {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    padding: 0;
    text-align: center;
    z-index: 99;

    &:focus {
        outline: none;
    }

    &[disabled] {
        display: none;
    }
}
