.moovie-checkbox {
	font: inherit;
    height: 0;
    margin: 0;
    opacity: 0;
	overflow: visible;
    position: absolute;
    width: 0;
}

.moovie-checkbox + .moovie-label {
    cursor: pointer;
    display: inline-flex;
    font-size: 11px;
    line-height: 17px;
    position: relative;
}

.moovie-checkbox + .moovie-label::before {
	background: none no-repeat center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    content: ' ';
    height: 17px;
    margin-right: 5px;
    width: 17px;
}

.moovie-checkbox:checked + .moovie-label::before {
	background-image: url("img/checked.png");
}
