.moovie-checkbox {
	font: inherit;
    height: 0;
    margin: 0;
    opacity: 0;
	overflow: visible;
    position: absolute;
    width: 0;
}

.moovie-checkbox + .moovie-label {
    cursor: pointer;
    display: inline-flex;
    font-size: 11px;
    line-height: 17px;
    position: relative;
}

.moovie-checkbox + .moovie-label::before {
	background: none no-repeat center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    content: ' ';
    height: 17px;
    margin-right: 5px;
    width: 17px;
}

.moovie-checkbox:checked + .moovie-label::before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWdJREFUeNqcUj1LA0EQfbO79wHJ/xAb/QHWWsQvEKwVRPAXWAmx9RcEFSSVjY0gmNTWamenTQpBUkjkcpe72511LiGIghA9GG737b6ZN/OWvPf462eOOnPwLCshOwc4y2Drqy1MoGBCQAcEbRSURqQ1Nsys2askWlNLfgMzI0EFEV1IxbUicwtKsEV4xP53gjEBnYUx7eQpn7CnVyXofhDhgYBN6U32cpOmjDHhPK7rvSzhR1twq+pXudIf2hJ9ObgOY9wRYaUajESoQ2pHdb1bZB55wseCJRXJyCItMt5m5ztxXS0pTd3RkG+lThjX1DKXHsOBvRRFN+wmEsaDUAp90bslVbtScT6u6dXKPxYLBH+zIzQlGaZ9q2nDpNDLh249ebdPQoa3gCjAKCmb3vPzxL9JqG+jIrzkqWskA3tflqL7w15JtVPnKuO/wvwgQQbRKzNuFCkfyAtokwDefbeB/vP2PgUYAJMizj5GIfitAAAAAElFTkSuQmCC');
}
