.moovie-panel {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    bottom: 4.5em;
    left: 2em;
    padding: 2em;
    position: absolute;
    right: 2em;
    top: 2em;
    transition: all 250ms ease 0s;
    display: flex;
    flex-flow: column;

    &[hidden] {
        opacity: 0;
        visibility: hidden;
    }
}

.moovie-panel > .close {
    display: block;
    font-size: 1.4em;
    height: 2em;
    position: absolute;
    right: 1.4em;
    text-shadow: 0 1px 0 #fff;
    top: 1.4em;
    width: 2em;

    &:hover {
        text-shadow: 0 1px 15px #fff;
    }
}

.moovie-panel > header {
    border-bottom: 1px dotted rgb(136, 136, 136);
    flex: 0 1 auto;
}

.moovie-panel > header > h2 {
    margin: 0;
}
