.moovie-tooltip {
    background-color: rgba(196, 82, 5, 0.8);
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1em;
    margin-left: 16px;
    margin-top: 16px;
    max-width: 200px;
    opacity: 0;
    padding: 2px 5px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
}

.moovie-tooltip[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
}

.moovie-tooltip[aria-disabled="true"] {
    display: none;
}
