{
    "env": {
        "browser": true
    },
    "globals": {
        "$": false,
        "$$": false,
        "Asset": false,
        "Browser": false,
        "Chain": false,
        "Class": false,
        "Color": false,
        "Cookie": false,
        "Core": false,
        "Document": false,
        "DomReady": false,
        "DOMEvent": false,
        "DOMReady": false,
        "Drag": false,
        "Element": false,
        "Elements": false,
        "Event": false,
        "Events": false,
        "Fx": false,
        "Group": false,
        "Hash": false,
        "HtmlTable": false,
        "IFrame": false,
        "IframeShim": false,
        "InputValidator": false,
        "instanceOf": false,
        "Keyboard": false,
        "Locale": false,
        "Mask": false,
        "MooTools": false,
        "Native": false,
        "Options": false,
        "OverText": false,
        "Request": false,
        "Scroller": false,
        "Slick": false,
        "Slider": false,
        "Sortables": false,
        "Spinner": false,
        "Swiff": false,
        "Tips": false,
        "Type": false,
        "typeOf": false,
        "URI": false,
        "Window": false,

        "Moovie": false,
        "screenfull": false
    }
}
